</br>
<div class="container">
  <h2 class="jumbotron">TODAY'S TOP 20 SHOWS</h2>

  <% @top_shows.each_with_index do |show, index| %>
    <div class="card">
      <%= image_tag("https://image.tmdb.org/t/p/original" + show["backdrop_path"], :class => "img-thumbnail") %>
      <div class="card-body">
        <h3><%= link_to "#{index + 1}: " + show["original_name"], tvshows_show_path(:tv_id => show["id"]) %></h3>
      </br>
    </div>
  <% end %>

</div>
