<h1>Tvshows#search</h1>
<p>Find me in app/views/tvshows/search.html.erb</p>

<div class="container">
  <h2 class="jumbotron">Search Results</h2>

  <% if @shows.nil? || @shows.empty? %>

    <div class="alert alert-warning">
      <strong>Sorry...no results found :( Please try again</strong>
    </div>

  <% else %>

    <% @shows.each_with_index do |show, index| %>
      <div class="card">
        <% unless show["backdrop_path"].nil? %>
          <%= image_tag("https://image.tmdb.org/t/p/original" + show["backdrop_path"], :class => "img-thumbnail") %>
        <% end %>
        <div class="card-body">
          <h3><%= "#{index + 1}: " + show["original_name"] %></h3>
          <h5><%= "first air date: " + show["first_air_date"] %></h5>
          <p><%= show["overview"]%></p>
        </div>
        </br>
      </div>
    <% end %>

  <% end %>

</div>
