/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.details {
  font-size: 10px;
}

.network_logo {
  height: 25px;
}

a {
  color: #4C5550;
}

a:hover {
  color: #337ab7;
  text-decoration: none; /* no underline */
}

.jumbotron {
  background-color: light-grey;
  text-align: center;
}

.nav.navbar {
  text-align: center;
}

.logo {
  height: 64px;
  width: 64px;
  display: inline-block;
}
