/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  font-family: 'Roboto Slab', serif;
}


div.col-xsm-12#logo {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: black;
  width: 250px;
  display: inline-block;
}

img.logo {
  height: 32px;
  width: 32px;
}

a#title_name {
  text-decoration: none;
  font-size: 19px;
  border-bottom-color: #1486AC;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-top-color: #1486AC;
  border-top-style: solid;
  border-top-width: thick;
  border-right-color: #1486AC;
  border-right-style: solid;
  border-right-width: thick;
  border-radius: 50%;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 26px;
  padding-right: 20px;
}

a#title_name:active {
  font-size: 20px;
}

a#title_name:hover {
  text-decoration: none;
  border-bottom-color: #FFD177;
  border-top-color: #FFD177;
  border-right-color: #FFD177;
}

#motto {
  padding-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom-style: solid;
}

img.error-image {
  height: 128px;
  width: 128px;
}

div.card {
  text-align: center;
}

.network_logo {
  height: 25px;
}

p {
  text-align: center;
}

a:hover {
  text-decoration: none;

}

h4 {
  text-align: center;
}

i#overview {
  text-align: center;
}

a#just_watch {
  border-bottom-color: #1486AC;
  border-radius: 15%;
}

h2.jumbotron {
  text-align: center;
  background-color: black;
  color: white;
}

#ip-input {
  padding-top: 0px;
  color: #1486AC;
  border-color: #1486AC;
  border-style: double;
  padding-bottom: 0px;
  margin-top: 25px;
  text-align: center;
}

#ip-input:hover {
  border-color: #FFD177;
  color: black;
}

.nav.navbar {
  text-align: center;
}

.card-body.show_name {
  text-align: center;
}
